<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <div class="header">
    <div class="container">

      <div class="nav">
        <% if current_user %>
          <ul>
            <li><%= current_user.email %></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          </ul>
        <% else %>
          <ul>
            <li><%= link_to "Log in", login_path %></a></li>
            <li><%= link_to "Sign up", signup_path %></a></li>
          </ul>
        <% end %>
      </div>
    
      <div class="logo">
      </div>
    
    </div>
  </div>

  <%= yield %>

  </body>
</html>
